.todo-header {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(47, 243, 80);

  h1 {
    font-size: 70px;
    text-align: center;
    text-decoration: rgb(255, 71, 132) wavy underline;
  }
}
